# Question 1

## WAP to print the table of 7, 9

In [7]:
print("Multiplication table of 7:")
for i in range(1,11):
    print(f'7 * {i} = {7*i}')
print("Multiplication table of 9:")
for i in range(1,11):
    print(f'9 * {i} = {9*i}')

Multiplication table of 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Multiplication table of 9:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

# Question 2

## WAP to print the table of n and n is given by user

In [11]:
n=int(input("Enter any number:"))
print(f'Multiplication table of {n}:')
for i in range(1,11):
    print(f'{n} * {i} = {n*i}')

Enter any number: 1

Multiplication table of 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

# Question 3

## WAP to add all the numbers from 1 to n and n is given by user

In [15]:
n=int(input("Enter any number:"))
sum=0
for i in range(1,n+1):
    sum+=i
print(f'Sum of all the nubers from 1 to {n} is {sum}')

Enter any number: 5

Sum of all the nubers from 1 to 5 is 15